.postAuthor_da_1_0_0 {
    font-size: 13px;
    &__navg {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    li {
        list-style-type: none;
        display: flex;
        padding-left: 10px;
    }
    &__iconDate {
        background: url(../images/calendar.png) no-repeat;
        width: 18px;
        height: 16px;
    }
    &__iconPerson {
        background: url(../images/pen-tool.png) no-repeat;
        width: 18px;
        height: 18px;
        margin-top: 2px;
    }
    &__iconDoctor {
        background: url(../images/frame.png) no-repeat;
        width: 18px;
        height: 23px;
    }
    &__iconview {
        background: url(../images/eye.png) no-repeat;
        width: 18px;
        height: 18px;
    }
    p {
        font-weight: 600;
        color: #000;
        margin-left: 5px;
        font-size: 13px !important;
        a {
            color: #105496;
        }
    }
    .symp {
        height: 30px;
        line-height: 30px;
        padding-right: 5px;
        color: #000;
    }
    .line {
        border-top: 2px solid #ddeeff;
    }
    @media (max-width: 1180px) {
        &__navg {
            flex-wrap: wrap;
        }
    }
    @media (max-width: 480px) {
        &__navg {
            padding-left: 0;
        }
    }
}
